Source: bam-window
Section: misc
Priority: extra
Maintainer: Travis Abbott <tabbott@genome.wustl.edu>
Build-Depends: gcc (>= 5.4), debhelper (>= 7), zlib1g-dev (>= 1.2.3), cdbs (>= 0.4.62)
Standards-Version: 3.8.3

Package: bam-window
Architecture: any
Depends: ${shlibs:Depends}
Description: Reports the number of reads mapping within adjacent windows
 Bam-window reports the number of reads mapping within adjacent windows on the
 genome It reports the number of reads overlapping the window or optionally,
 just reports the number whose leftmost mapping coordinate is within the
 window. Use -d to report only a random sampling of the reads within the
 window. This is useful for approximating results at lower coverage depths.
